**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/logs
**/*.md
**/tests
**/.claude
**/SEED.md
